html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-nav {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.home-prof {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'Lato', sans-serif; 
  font-size: 54px; 
  font-weight: 300; 
  line-height: 58px;
  letter-spacing: 8px;
  color: #fff;
}
.home-servers-list {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-server {
  margin: 2px;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
}
.prof-pic {
  height: 64px;
  width: 64px;
  border: 1px solid black;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
}
.wheel-container {
  height: 100%;
  /* width: 100%; */
  display: block;
  justify-content: space-between;
  flex-direction: column;
  overflow: auto;
  /* padding-bottom: 30px; */
}
.group-prof-pic {
  height: 30px;
  width: 30px;
}
.group-prof{
  margin-left: 90%;
  height: 50px;
  width: 100px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.group-card{
  border-radius: 100%;
}

.logged-out{
  height: 100vh;
  background-image: url('https://adwallpapers.xyz/uploads/posts/70650-planet-with-rings-4k-ultra-hd-wallpaper__space-and-galaxy.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.planit-title{
  position: absolute;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Lato', sans-serif; 
  font-size: 54px; 
  font-weight: 300; 
  line-height: 58px;
  letter-spacing: 80px;
  color: #fff;
}

.login-buttons{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60vh;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20;
}

.create-group-button{
  width: 10%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  background-color: #fff;
  border-radius: 50%;
  border: none
}
/* 
.wheel-thing{
  background-image: url('https://thumbs.dreamstime.com/b/plastic-bag-%D1%80%D0%B5%D0%B7-194794935.jpg');
  background-color: red;
  margin: '0';
  margin-top: '300px';
  margin-bottom: '270px';
  padding: '0';
  top: '50%';
  left: '50%';
  position: 'relative';
  transform: 'translate(-50%, -50%)';
  height: '100px';
  width: '100px';
  background-color: 'red';
  border-radius: '50px'
} */